.form{
   margin: 2rem 0 5rem 0;
   padding: 2.5rem;
   @include tablet{
      padding: 3.5rem;
      margin: 2rem 0 0 0;
   }
   background-color: #fff;
   border-radius: 1rem;
   box-shadow: 0 5px 0 rgba(0, 0, 0, .3);
   .input-group{
      margin-bottom: 1.5rem;
   }
   input{
      width: 100%;
      padding: 1.5rem;
      border: none;
      border-radius: .6rem;
      font-weight: $semiBold;
      font-size: $fontSize - .2;
      &:focus{
         outline: none;
      }
   }

   .input{
      border: 1px solid rgb(221, 216, 216);
      border-radius: .6rem;
      display: grid;
      grid-template-columns: 1fr 10%;
      align-items: center;
   }

   .error {
      border: 2px solid $red;
      color: $red;
   }

   .error input {
      color: $red;
   }

   button[type="submit"]{
      @include button($green);
      outline: none;
      border: none;
      width: 100%;
      text-transform: uppercase;
      font-weight: $semiBold;
      font-size: $fontSize - .1; 
      cursor: pointer;
      margin-bottom: .5rem;
      box-shadow: 0 5px 0 #299164ce;
   }

   button:disabled{
      cursor: not-allowed;
   }

   .terms{
      font-size: $fontSize - .5;
      color: $grayishBlue;
      text-align: center;
      a{
         font-weight: $bold;
         color: $red;
         text-decoration: none;
      }
   }
}