.info-section{
   color: #fff;
   text-align: center;
   @include tablet{
      text-align: left;
   }
   .title{
      display: inline-block;
      margin: 7rem 2rem 1rem 2rem;
      @include tablet{
         font-size: 4.5rem;
         margin: 0;
         line-height: 1;
      }
   }
   margin-bottom: 4rem;
}